@using Mogym.Common
@model List<Mogym.Application.Records.Plan.PlanRecord>
@{
    Layout = "_Layout";
    ViewData["title"] = "برنامه های تائید شده من";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="">
                    <div class="card-body mb-50">

                        <table id="myplan" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام مربی</th>
                                    <th>تاریخ ثبت </th>
                                    <th>کد رهگیری </th>
                                    <th>وضعیت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model)
                                {
                                    <tr>

                                        <td>@itm.TrainerName</td>
                                        <td style="display: table-caption;">@itm.InsertDate.GetPersianDateDetail()</td>
                                        <td>@itm.TrackingCode</td>
                                        <td>@itm.PlanStatus.GetEnumDescription()</td>

                                        <td>
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ViewAQModal" onclick="viewAQ('@itm.Id')">مشاهده پرسشنامه</button>
                                        </td>
                                        <div class="form-group" style="margin: 0px 10px">
                                            <a class="btn btn-default" asp-route-planId="@itm.Id" asp-controller="Ticket" asp-action="PlanTicket">گفتگو</a>
                                        </div>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <p class="text-red text-right mt-2 font-weight-bold">@TempData["message"]</p>
                            </div>
                            <div class="form-actions-buttons col-md-12">
                                <a asp-action="Index" asp-controller="Account" class="btn btn-secondary py-2">بازگشت</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>


        </div>
    </div>
</section>


<div class="modal fade" id="AddPaidPictureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">بارگزاری تصویر پرداخت</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <form asp-action="AddPaidPicture" asp-controller="Plan" enctype="multipart/form-data" id="AddPaidPicture">
                    <input hidden name="planId" value="" id="planId" />
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body row py-5">
                                <fieldset class="row p-3 mb-5">
                                    <legend class="float-none w-auto"> تصویر پرداخت</legend>

                                    <div class="form-group col-md-3">
                                        <label class="pt-1" for="paidPicture">تصویر رسید پرداختی</label>
                                        <div>
                                            <input type="file" name="PaidPicture" accept="image/*" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="card-footer">
                                <div class="form-group row">
                                    <div class="form-actions-buttons col-md-12">
                                        <input type="submit" value="ثبت" class="btn bg-buttom-yellow" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>





            </div>
            @* <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            <button type="submit" name="action" value="draft" class="btn btn-success-card">ثبت</button>

            </div>*@
        </div>
    </div>
</div>

<div class="modal fade" id="ViewAQModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">پرسشنامه پاسخ داده شده</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-viewAQ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>






<!-- Main content -->
<!-- /.content -->
@section Scripts{
    <script>

        function viewAQ(planId) {
            $.ajax({
                url: "/Plan/GetPlanAnswerQuestion?planId=" + planId,
                dataType: 'html',
                success: function (data) {
                    $('#modal-viewAQ').html(data);
                }
            });
        }


        function setplanId(planId) {
            $("#planId").val(planId);
        }


        $(function () {


            $("#myplan").DataTable({
                dom: 'Bfrtip',
                buttons: [
                ],
                "pageLength": 25,
                "ordering": false,
                language: {
                    processing: "لطفا صبر کنید ...",
                    search: "جستجو ",
                    lengthMenu: "نمایش _MENU_ آیتم",
                    info: "نمایش آیتم _START_ تا _END_ از مجموع _TOTAL_ آیتم",
                    infoEmpty: "نمایش آیتم 0 تا 0 از مجموع 0 آیتم",
                    infoFiltered: "(فیلتر شده از مجموع _MAX_ آیتم)",
                    infoPostFix: "",
                    loadingRecords: "لطفا صبر کنید ...",
                    zeroRecords: "هیچ آیتمی برای نمایش وجود ندارد",
                    emptyTable: "هیچ آیتمی برای نمایش وجود ندارد",
                    paginate: {
                        first: "اولین",
                        previous: "قبلی",
                        next: "بعدی",
                        last: "آخرین"
                    },
                    aria: {
                        sortAscending: ": مرتب کردن ستون به ترتیب صعودی",
                        sortDescending: ": مرتب کردن ستون به ترتیب نزولی"
                    }
                }
            });
        });
    </script>
}