@using Mogym.Common
@model List<Mogym.Application.Records.Plan.PlanRecord>
@{
    Layout = "_Layout";
    ViewData["title"] = "برنامه های دریافت شده من";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="">
                    <div class="card-body mb-50">

                        <table id="recivePlan" class="table table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>نام مربی</th>
                                <th>تاریخ ثبت </th>
                                <th>کد رهگیری </th>
                                <th>توضیحات تکمیلی برنامه</th>
                                <th>عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var itm in Model)
                            {
                                <tr>

                                    <td>@itm.TrainerName</td>
                                    <td>@itm.InsertDate.GetPersianDateDetail()</td>
                                    <td>@itm.TrackingCode</td>
                                    <td>@itm.Description</td>
                                    <td>
                                            <div class="btn-group btn-group-lg" role="group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    عملیات
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item" asp-route-planId="@itm.Id" asp-controller="Workout" asp-action="SentWorkoutDetail">حرکات تمرینی</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-route-planId="@itm.Id" asp-controller="Meal" asp-action="SentDietDetail">رژیم غذایی</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-route-planId="@itm.Id" asp-controller="SupplimentPlan" asp-action="SentSupplimentDetail">مکمل</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-route-planId="@itm.Id" asp-controller="Ticket" asp-action="PlanTicket">گفتگو</a>
                                                    </li>
                                                    <li>
                                                        <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#AddReviewModal" onclick="addReview('@itm.Id')">ثبت نظر</button>
                                                    </li>

                                                </ul>
                                            </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <p class="text-red text-right mt-2 font-weight-bold">@TempData["message"]</p>
                            </div>
                            <div class="form-actions-buttons col-md-12">
                                <a asp-action="Index" asp-controller="Account" class="btn btn-secondary py-2">بازگشت</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>


        </div>
    </div>
</section>




<div class="modal fade" id="AddReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-addReview">
            </div>
        </div>
    </div>
</div>






<!-- Main content -->
<!-- /.content -->
@section Scripts{
    <script>

        function addReview(planId) {
            $.ajax({
                url: "/Comment/GetReviewForm?planId=" + planId,
                dataType: 'html',
                success: function (data) {
                    $('#modal-addReview').html(data);
                },
                failure: function (response) {
                    $('#modal-addReview').html(data);
                },
                error: function (response) {
                    $('#modal-addReview').html(data);
                }
            });
        }




        $(function () {


            $("#recivePlan").DataTable({
                dom: 'Bfrtip',
                buttons: [
                ],
                "pageLength": 25,
                "ordering": false,
                language: {
                    processing: "لطفا صبر کنید ...",
                    search: "جستجو ",
                    lengthMenu: "نمایش _MENU_ آیتم",
                    info: "نمایش آیتم _START_ تا _END_ از مجموع _TOTAL_ آیتم",
                    infoEmpty: "نمایش آیتم 0 تا 0 از مجموع 0 آیتم",
                    infoFiltered: "(فیلتر شده از مجموع _MAX_ آیتم)",
                    infoPostFix: "",
                    loadingRecords: "لطفا صبر کنید ...",
                    zeroRecords: "هیچ آیتمی برای نمایش وجود ندارد",
                    emptyTable: "هیچ آیتمی برای نمایش وجود ندارد",
                    paginate: {
                        first: "اولین",
                        previous: "قبلی",
                        next: "بعدی",
                        last: "آخرین"
                    },
                    aria: {
                        sortAscending: ": مرتب کردن ستون به ترتیب صعودی",
                        sortDescending: ": مرتب کردن ستون به ترتیب نزولی"
                    }
                }
            });
        });
    </script>
}