@using Mogym.Common
@model List<Mogym.Application.Records.Plan.PaidPlanRecorrd>
@{
    Layout = "_Layout";
    ViewData["title"] = "برنامه های پرداخت شده";
}

<style>
    a.btn {
        border-radius: .25rem; 
        border: 1px solid transparent;
        padding: .5rem 1rem;
        color: #fff;
        
    }
    a.btn:hover {
         border-radius: .25rem;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                    <div class="card-body mb-50">

                        <table id="paidPlan" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام ورزشکار</th>
                                    <th>تاریخ ثبت </th>
                                    <th>کد رهگیری </th>
                                    <th>وضعیت</th>
                                    <th>تصویر رسید</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model)
                                {
                                    <tr>

                                        <td>@itm.AthletName</td>
                                    <td style="display: table-caption;">@itm.InsertDate.GetPersianDateDetail()</td>
                                        <td>@itm.TrackingCode</td>
                                        <td>@itm.PlanStatus.GetEnumDescription()</td>
                                        <td>
                                            <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#ShowPaidPicture" onclick="paidPicture('@itm.PaidPicture')">نمایش</button>

                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ViewAQModal" onclick="viewAQ('@itm.Id')">مشاهده پرسشنامه</button>
                                            <a class="btn btn-primary" asp-route-planId="@itm.Id" asp-action="ApprovePlan">تائید برنامه</a>


                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <p class="text-red text-right mt-2 font-weight-bold">@TempData["message"]</p>
                            </div>
                            <div class="form-actions-buttons col-md-12">
                                <a asp-action="Index" asp-controller="Account" class="btn btn-secondary py-2">بازگشت</a>
                            </div>
                        </div>
                    </div>
                <!-- /.card -->
            </div>


        </div>
    </div>
</section>

<div class="modal fade" id="ShowPaidPicture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تصویر پرداخت</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-paidPicture">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewAQModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">پرسشنامه پاسخ داده شده</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-viewAQ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>

        function viewAQ(planId) {
            $.ajax({
                url: "/Plan/GetPlanAnswerQuestion?planId=" + planId,
                dataType: 'html',
                success: function (data) {
                    $('#modal-viewAQ').html(data);
                }
            });
        }


        function paidPicture(pic) {
            var html = '<img src="/PaidPic/' + pic + '" >';
            $('#modal-paidPicture').html(html);
            
        }



        (function () {


            $("#paidPlan").DataTable({
                dom: 'Bfrtip',
                buttons: [
                ],
                "pageLength": 25,
                "ordering": false,
                language: {
                    processing: "لطفا صبر کنید ...",
                    search: "جستجو ",
                    lengthMenu: "نمایش _MENU_ آیتم",
                    info: "نمایش آیتم _START_ تا _END_ از مجموع _TOTAL_ آیتم",
                    infoEmpty: "نمایش آیتم 0 تا 0 از مجموع 0 آیتم",
                    infoFiltered: "(فیلتر شده از مجموع _MAX_ آیتم)",
                    infoPostFix: "",
                    loadingRecords: "لطفا صبر کنید ...",
                    zeroRecords: "هیچ آیتمی برای نمایش وجود ندارد",
                    emptyTable: "هیچ آیتمی برای نمایش وجود ندارد",
                    paginate: {
                        first: "اولین",
                        previous: "قبلی",
                        next: "بعدی",
                        last: "آخرین"
                    },
                    aria: {
                        sortAscending: ": مرتب کردن ستون به ترتیب صعودی",
                        sortDescending: ": مرتب کردن ستون به ترتیب نزولی"
                    }
                }
            });
        });
    </script>
}