@model Mogym.Application.Records.Plan.PlanDetailsRecord
@{
    Layout = "_Layout";
    ViewData["title"] = "جزئیات برنامه";
}

<input hidden id="planId" value="@Model.PlanId" />

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card-header bg-success-card">
                    <h3 class="card-title">جزئیات برنامه</h3>
                </div>
                <div class="card-body mb-50">

                    <div class="add-row-table pt-5">
                        <h4 class="py-2 text-right px-2 w-100">تمرین</h4>
                        <form asp-controller="Workout" asp-action="AddWorkout" id="workoutForm">

                            <table class="table attr-training-request col-12">
                                <thead>
                                    <tr>
                                        <th>عنوان تمرین</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody class="approverRowsContainer" id="workoutBody">

                                    @if (Model.WorkoutRecords != null)
                                    {
                                        @for (var index = 0; index < Model.WorkoutRecords.Count(); index++)
                                        {
                                            <tr class="attr attr-person form-group">
                                                <input type="hidden" asp-for="@Model.WorkoutRecords[index].PlanId" />
                                                <input type="hidden" asp-for="@Model.WorkoutRecords[index].Id" />
                                                <td>
                                                    <input class="form-control" asp-for="@Model.WorkoutRecords[index].Title" />
                                                    <span asp-validation-for="@Model.WorkoutRecords[index].Title" class="text-danger"></span>
                                                </td>
                                                <td class="d-flex border-0">
                                                    @{

                                                        if (index == Model.WorkoutRecords.Count - 1)
                                                        {
                                                            <div class="form-group" style="margin: 0px 25px 0px 54px">
                                                                <button class="btn btn-large add text-success tooltip" type="button">
                                                                    <i class="fas fa-plus"></i>
                                                                    <span class="tooltiptext tooltip-top">ثبت</span>

                                                                </button>
                                                            </div>
                                                        }
                                                    }

                                                </td>
                                            </tr>
                                        }

                                    }



                                </tbody>

                            </table>
                        </form>
                    </div>
                    <div class="add-row-table pt-5">
                        <h4 class="py-2 text-right px-2 w-100">رژیم غذایی</h4>
                        <table class="table attr-training-request col-12">
                            <thead>
                                <tr>
                                    <th>نام دوره</th>
                                    <th>تاریخ برگزاری</th>
                                    <th> نوع آزمون</th>
                                    <th>نمره</th>
                                </tr>
                            </thead>
                            @*                                                <tbody id="certificate">
                            @{
                            if (RonixTrainingCourseDtos.Any())
                            {

                            for (int i = 0; i < RonixTrainingCourseDtos.Count(); i++)
                            {
                            <tr class="attr attr-person form-group" id="">
                            <td>
                            <input class="form-control" type="text" readonly value="@RonixTrainingCourseDtos[i].Title" />
                            </td>
                            <td width="10%">
                            <input class="form-control" readonly value="@RonixTrainingCourseDtos[i].PlanDate" />

                            </td>
                            <td width="10%">

                            <input class="form-control" readonly value="@RonixTrainingCourseDtos[i].ExamType" />

                            </td>
                            <td width="9%">
                            <input type="number" class="form-control" readonly value="@RonixTrainingCourseDtos[i].Mark" />
                            </td>
                            </tr>
                            }
                            }
                            }
                            </tbody>
                            *@
                        </table>
                    </div>
                    <div class="add-row-table pt-5">
                        <h4 class="py-2 text-right px-2 w-100">مکمل</h4>
                        <table class="table attr-training-request col-12">
                            <thead>
                                <tr>
                                    <th>نام دوره</th>
                                    <th>تاریخ برگزاری</th>
                                    <th> نوع آزمون</th>
                                    <th>نمره</th>
                                </tr>
                            </thead>
                            @*                                                <tbody id="certificate">
                            @{
                            if (RonixTrainingCourseDtos.Any())
                            {

                            for (int i = 0; i < RonixTrainingCourseDtos.Count(); i++)
                            {
                            <tr class="attr attr-person form-group" id="">
                            <td>
                            <input class="form-control" type="text" readonly value="@RonixTrainingCourseDtos[i].Title" />
                            </td>
                            <td width="10%">
                            <input class="form-control" readonly value="@RonixTrainingCourseDtos[i].PlanDate" />

                            </td>
                            <td width="10%">

                            <input class="form-control" readonly value="@RonixTrainingCourseDtos[i].ExamType" />

                            </td>
                            <td width="9%">
                            <input type="number" class="form-control" readonly value="@RonixTrainingCourseDtos[i].Mark" />
                            </td>
                            </tr>
                            }
                            }
                            }
                            </tbody>
                            *@
                        </table>
                    </div>


                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- /.card-footer-->
            </div>
        </div>
    </div>



</section>
<input type="hidden" id="workoutConts" value="@((Model != null && Model.WorkoutRecords != null)? Model.WorkoutRecords.Count():0 )" />



@section Scripts{
    <script src="~/js/plan.js"></script>
}

