@model Mogym.Application.Records.Plan.PlanDetailsRecord
@{
    Layout = "_Layout";
    ViewData["title"] = "جزئیات برنامه";
}

<style>
    a.btn {
        border-radius: .25rem;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        color: #fff;
    }

    a:link {
        color: #fff !important
    }

    a.btn:hover {
        border-radius: .25rem;
    }
</style>

<input hidden id="planId" value="@Model.PlanId" />

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card-header bg-success-card">
                    <h3 class="card-title">جزئیات برنامه</h3>
                </div>
                <div class="card-body mb-50">

                    <div class="add-row-table pt-5">
                        <h4 class="py-2 text-right px-2 w-100">تمرین</h4>
                        <form asp-controller="Workout" asp-action="AddWorkout" id="workoutForm">

                            <table class="table attr-training-request col-12">
                                <thead>
                                    <tr>
                                        <th>عنوان تمرین</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody class="approverRowsContainer" id="workoutBody">

                                    @if (Model.WorkoutRecords != null)
                                    {
                                        @for (var index = 0; index < Model.WorkoutRecords.Count(); index++)
                                        {
                                            <tr class="attr attr-person form-group">
                                                <input type="hidden" asp-for="@Model.WorkoutRecords[index].PlanId" />
                                                <input type="hidden" asp-for="@Model.WorkoutRecords[index].Id" />
                                                <td>
                                                    <input class="form-control" asp-for="@Model.WorkoutRecords[index].Title" />
                                                    <span asp-validation-for="@Model.WorkoutRecords[index].Title" class="text-danger"></span>
                                                </td>
                                                <td class="d-flex border-0">
                                                    @{
                                                        <div class="form-group" style="margin: 0px 10px">
                                                            <a class="btn btn-info" asp-route-id="@Model.WorkoutRecords[index].Id" asp-action="WorkoutDetail" asp-controller="Workout">جزئیات برنامه</a>

                                                        </div>
                                                        <div class="form-group" style="margin: 0px 10px">
                                                            <button class="btn btn-primary" type="button" onclick="editWorkout('@index','@Model.WorkoutRecords[index].Id')">
                                                                ویرایش عنوان تمرین
                                                            </button>
                                                        </div>
                                                        <div class="form-group" style="margin: 0px 10px">
                                                            <button class="btn btn-danger" type="button" onclick="addWorkoutRow()">
                                                                حذف
                                                            </button>
                                                        </div>
                                                        if (index == Model.WorkoutRecords.Count - 1)
                                                        {
                                                            <div class="form-group" style="margin: 0px 10px">

                                                                <button class="btn btn-large add text-success tooltip" type="button" onclick="addWorkoutRow()">
                                                                    <i class="fas fa-plus"></i>

                                                                    <span class="tooltiptext tooltip-top">اضافه کردن سطر جدید</span>

                                                                </button>
                                                            </div>
                                                        }
                                                    }

                                                </td>
                                            </tr>
                                        }

                                    }



                                </tbody>

                            </table>
                        </form>
                    </div>
                    <div class="add-row-table pt-5">
                        <h4 class="py-2 text-right px-2 w-100">رژیم غذایی</h4>
                        <form asp-controller="Meal" asp-action="AddMeal" id="dietForm">

                            <table class="table attr-training-request col-12">
                                <thead>
                                    <tr>
                                        <th>عنوان وعده</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody class="approverRowsContainer" id="dietBody">

                                    @if (Model.MealRecords != null)
                                    {
                                        @for (var index = 0; index < Model.MealRecords.Count(); index++)
                                        {
                                            <tr class="attr attr-person form-group">
                                                <input type="hidden" asp-for="@Model.MealRecords[index].PlanId" />
                                                <input type="hidden" asp-for="@Model.MealRecords[index].Id" />
                                                <td>
                                                    <input class="form-control" asp-for="@Model.MealRecords[index].Title" />
                                                    <span asp-validation-for="@Model.MealRecords[index].Title" class="text-danger"></span>
                                                </td>
                                                <td class="d-flex border-0">
                                                    @{
                                                        <div class="form-group" style="margin: 0px 10px">
                                                            <button class="btn btn-primary" type="button" onclick="editMeal('@index','@Model.MealRecords[index].Id')">
                                                                ویرایش عنوان وعده
                                                            </button>
                                                        </div>
                                                        <div class="form-group" style="margin: 0px 10px">
                                                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ingridientDetailsModal" onclick="ingridientDetails('@Model.MealRecords[index].Id')">جزئیات</button>
                                                        </div>
                                                        <div class="form-group" style="margin: 0px 10px">
                                                            <button class="btn btn-danger" type="button" onclick="addMealRow()">
                                                                حذف
                                                            </button>
                                                        </div>
                                                        if (index == Model.MealRecords.Count - 1)
                                                        {
                                                            <div class="form-group" style="margin: 0px 10px">

                                                                <button class="btn btn-large add text-success tooltip" type="button" onclick="addMealRow()">
                                                                    <i class="fas fa-plus"></i>

                                                                    <span class="tooltiptext tooltip-top">اضافه کردن سطر جدید</span>

                                                                </button>
                                                            </div>
                                                        }
                                                    }

                                                </td>
                                            </tr>
                                        }

                                    }

                                </tbody>

                            </table>
                        </form>
                    </div>
                    <div class="add-row-table pt-5">
                        <h4 class="py-2 text-right px-2 w-100">مکمل</h4>
                        <table class="table attr-training-request col-12">
                            <thead>
                                <tr>
                                    <th>نام دوره</th>
                                    <th>تاریخ برگزاری</th>
                                    <th> نوع آزمون</th>
                                    <th>نمره</th>
                                </tr>
                            </thead>
                            @*                                                <tbody id="certificate">
                            @{
                            if (RonixTrainingCourseDtos.Any())
                            {

                            for (int i = 0; i < RonixTrainingCourseDtos.Count(); i++)
                            {
                            <tr class="attr attr-person form-group" id="">
                            <td>
                            <input class="form-control" type="text" readonly value="@RonixTrainingCourseDtos[i].Title" />
                            </td>
                            <td width="10%">
                            <input class="form-control" readonly value="@RonixTrainingCourseDtos[i].PlanDate" />

                            </td>
                            <td width="10%">

                            <input class="form-control" readonly value="@RonixTrainingCourseDtos[i].ExamType" />

                            </td>
                            <td width="9%">
                            <input type="number" class="form-control" readonly value="@RonixTrainingCourseDtos[i].Mark" />
                            </td>
                            </tr>
                            }
                            }
                            }
                            </tbody>
                            *@
                        </table>
                    </div>


                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
                <!-- /.card-footer-->
            </div>
        </div>
    </div>



</section>
<input type="hidden" id="workoutConts" value="@((Model != null && Model.WorkoutRecords != null)? Model.WorkoutRecords.Count():0 )" />
<input type="hidden" id="mealCount" value="@((Model != null && Model.MealRecords != null)? Model.MealRecords.Count():0 )" />


@*------------------------------------------------------------------------------------------------------------*@
<div class="modal fade" id="ingridientDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-ingridientDetails">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <script src="~/js/plan.js"></script>

}
