@using Mogym.Common
@model List<Mogym.Application.Records.Plan.SentPlanRecord>
@{
    Layout = "_Layout";
    ViewData["title"] = "برنامه های ارسال شده";
}

<style>
    a.btn {
        border-radius: .25rem;
        border: 1px solid transparent;
        padding: .5rem 1rem;
        color: #fff;
    }

    a:link {
        color: #fff !important
    }

    a.btn:hover {
        border-radius: .25rem;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="">
                    <div class="card-body mb-50">

                        <table id="sentPlan" class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام ورزشکار</th>
                                    <th>تاریخ ثبت </th>
                                    <th>کد رهگیری </th>
                                    <th>وضعیت</th>
                                    <th>توضیحات تکمیلی برنامه</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itm in Model)
                                {
                                    <tr>

                                        <td>@itm.AthletName</td>
                                        <td>@itm.InsertDate.GetPersianDateDetail()</td>
                                        <td>@itm.TrackingCode</td>
                                        <td>@itm.PlanStatus.GetEnumDescription()</td>
                                        <td>@itm.Description</td>
                                        <td>
                                            <a class="btn btn-primary" asp-route-planId="@itm.Id" asp-controller="Workout" asp-action="SentWorkoutDetail">حرکات تمرینی</a>
                                            <a class="btn btn-success" asp-route-planId="@itm.Id" asp-controller="Meal" asp-action="SentDietDetail">رژیم غذایی</a>
                                           <a class="btn btn-info" asp-route-planId="@itm.Id" asp-controller="SupplimentPlan"  asp-action="SentSupplimentDetail">مکمل</a>


                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <p class="text-red text-right mt-2 font-weight-bold">@TempData["message"]</p>
                            </div>
                            <div class="form-actions-buttons col-md-12">
                                <a asp-action="Index" asp-controller="Account" class="btn btn-secondary py-2">بازگشت</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>


        </div>
    </div>
</section>






@section Scripts{
    <script>


        (function () {


            $("#sentPlan").DataTable({
                dom: 'Bfrtip',
                buttons: [
                ],
                "pageLength": 25,
                "ordering": false,
                language: {
                    processing: "لطفا صبر کنید ...",
                    search: "جستجو ",
                    lengthMenu: "نمایش _MENU_ آیتم",
                    info: "نمایش آیتم _START_ تا _END_ از مجموع _TOTAL_ آیتم",
                    infoEmpty: "نمایش آیتم 0 تا 0 از مجموع 0 آیتم",
                    infoFiltered: "(فیلتر شده از مجموع _MAX_ آیتم)",
                    infoPostFix: "",
                    loadingRecords: "لطفا صبر کنید ...",
                    zeroRecords: "هیچ آیتمی برای نمایش وجود ندارد",
                    emptyTable: "هیچ آیتمی برای نمایش وجود ندارد",
                    paginate: {
                        first: "اولین",
                        previous: "قبلی",
                        next: "بعدی",
                        last: "آخرین"
                    },
                    aria: {
                        sortAscending: ": مرتب کردن ستون به ترتیب صعودی",
                        sortDescending: ": مرتب کردن ستون به ترتیب نزولی"
                    }
                }
            });
        });
    </script>
}