@using Mogym.Common
@model Mogym.Application.Records.Menu.CreateMenuRecord
@{
    ViewBag.Title = "ایجاد منو جدید";
    Layout = "_Layout";
}

<section class="content">
    <form asp-action="Create" method="post" class="container-fluid" id="form-create-menu">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header bg-success-card">
                        <h3 class="card-title">تعریف نقش جدید</h3>
                    </div>
                    <div class="card-body py-5">
                        <div class="form-group row">
                            <label class="pt-1" >عنوان فارسی </label>
                            <input class="form-control" asp-for="PersianName" />
                            <span class="text-danger" asp-validation-for="PersianName"></span>
                        </div>
                        <div class="form-group row">
                            <label class="pt-1" >عنوان انگلیسی </label>
                            <input class="form-control" asp-for="EnglishName" />
                            <span class="text-danger" asp-validation-for="EnglishName"></span>
                        </div>
                        <div class="form-group row">
                            <label class="pt-1" >فعال باشد؟</label>
                            <select class="js-example-disabled-results form-control" asp-for="IsActive">
                                @foreach (EnumYesNo itm in Enum.GetValues(typeof(EnumYesNo)))
                                {
                                    <option value="@((int)itm)">@itm.GetEnumDescription()</option>
                                }
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="pt-1" >آیا منو در دسترسی ها والد دارد؟</label>
                            <select class="js-example-disabled-results form-control" asp-for="IsActive" id="isactive" >
                                <option value="@null">بله/خیر</option>
                                @foreach (EnumYesNo itm in Enum.GetValues(typeof(EnumYesNo)))
                                {
                                    <option value="@((int)itm)">@itm.GetEnumDescription()</option>
                                }
                            </select>
                        </div>
                        <div class="form-group row" type="hidden" id="permissionList">
                            
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="form-actions-buttons col-md-6">
                                <input type="submit" value="ثبت" class="btn btn-success-card" />
                                <a asp-action="Index" class="btn btn-secondary py-2">بازگشت </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
</section>



@section Scripts
{
    <script src="~/js/menu.js"> </script>
}








