@using Mogym.Application.Records.Profile
@model Tuple<int, int, List<Mogym.Application.Records.Profile.TrainersRecord>>


@{
    var search = (string)ViewBag.SearchText;
    var sort = (string)ViewBag.Sort;

    int totalCount = Model.Item1;
    int currentPage = Model.Item2;
    List<TrainersRecord> records = Model.Item3;

}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="موجیم - مربیان" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://mogym.ir/img/mogym-transparent.png" />
    <meta property="og:image:alt" content="موجیم تخصصی ترین مرجع تناسب اندام آنلاین" />
    <meta property="og:url" content="http://mogym.ir/trainers" />
    <!--favicon icon-->
    <link rel="icon" href="~/img/favicon.ico" type="image/png" sizes="16x16">

    <!--title-->
    <title>موجیم - مربیان</title>

    <!--build:css-->
    <link rel="stylesheet" href="~/mainassets/css/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--preloader start-->
    <div id="preloader">
        <div class="preloader-wrap">
            <img src="~/img/mogym-transparent.png" alt="mogym" class="img-fluid">
            <div class="thecube">
                <div class="cube c1"></div>
                <div class="cube c2"></div>
                <div class="cube c4"></div>
                <div class="cube c3"></div>
            </div>
        </div>
    </div>
    <!--preloader end-->
    <!--header section start-->
    <header class="header">
        <!--start navbar-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/img/mogym-transparent.png" alt="لوگو" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="ناوبری را تغییر دهید">
                    <span class="ti-menu"></span>
                </button>

                <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu">
                        <li><a asp-controller="Account" asp-action="Index" class="page-scroll">خانه</a></li>
                        <li><a asp-controller="Account" asp-action="Login" class="page-scroll">ورود/ثبت نام</a></li>
                        <li><a asp-controller="Home" asp-action="TrainerPanel" class="page-scroll">عضویت مربیان</a></li>
                        <li><a asp-controller="Home" asp-action="Trainers" class="page-scroll">مربیان</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs" class="page-scroll">ارتباط با ما</a></li>
                        <li><a asp-controller="Home" asp-action="Terms" class="page-scroll">قوانین و مقررات</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--header section end-->

    <div class="main">
        <div class="breadcrumb-bar gray-light-bg border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Trainers">مربیان</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="module ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="sidebar-left pr-4">

                            <!-- Search widget-->
                            <aside class="widget widget-search">
                                <form asp-controller="Home" asp-action="Search" method="get">
                                    <input class="form-control"
                                           type="search"
                                           name="searchText"
                                           placeholder="نام یا نام خانوادگی مربی را تایپ کنید"
                                           value="@(!string.IsNullOrWhiteSpace(search)?search:String.Empty)">
                                    <button class="search-button" type="submit"><span class="ti-search"></span></button>
                                </form>
                            </aside>


                            <!-- Tags widget-->
                            <aside class="widget widget-tag-cloud">
                                <div class="widget-title">
                                    <h6>مرتب سازی بر اساس</h6>
                                </div>
                                <div class="tag-cloud">
                                    <a  asp-controller="Home"
                                        asp-action="Trainers"
                                        asp-route-page="1"
                                        asp-route-search="@search"
                                        asp-route-sort="newest">جدیدترین</a>
                                    <a asp-action="Trainers"
                                       asp-route-page="1"
                                       asp-route-search="@search"
                                       asp-route-sort="sentPlan">برنامه ارسالی</a>
                                    <a asp-action="Trainers"
                                       asp-route-page="1"
                                       asp-route-search="@search"
                                       asp-route-sort="comment">نظر</a>

                                    <a asp-action="Trainers"
                                       asp-route-page="1"
                                       asp-route-search="@search"
                                       asp-route-sort="rate">امتیاز</a>
                                    @*                                     <a href="#">متن ساختگی </a>
                                    <a href="#">خود راه انداز </a>
                                    <a href="#">کسب و کار </a>
                                    <a href="#">شرکت های بزرگ</a> *@
                                </div>
                            </aside>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-8">

                        @{
                            if (!string.IsNullOrWhiteSpace(sort))
                            {
                                var text = " مرتب شده بر اساس ";

                                if (sort == "newest")
                                    text = text + "جدیدترین";
                                if (sort == "sentPlan")
                                    text = text + "برنامه ارسالی";
                                if (sort == "comment")
                                    text = text + "بیشترین نظر";
                                if (sort == "rate")
                                    text = text + "بیشترین امتیاز";

                                <h5> @text</h5>

                            }
                        }




                        @{
                            await Html.RenderPartialAsync("_TrainersList", records);
                        }
                    </div>
                    <!-- Post-->
                    <!-- Post end-->
                    <!-- Page Navigation-->
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="custom-pagination-nav">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-right"></span></a></li>
                                    @{
                                        var step = totalCount / 10;
                                        var remain = totalCount % 10;
                                        if (remain > 0)
                                            step = step + 1;
                                        for (int i = 1; i <= step; i++)
                                        {
                                            if (currentPage == i)
                                            {
                                                <li class="page-item active"><a 
                                                                                 class="page-link"
                                                                                 asp-controller="Home"
                                                                                 asp-action="Trainers"
                                                                                 asp-route-page="@i"
                                                                                 asp-route-search="@search"
                                                                                 asp-route-sort="@sort">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a 
                                                                          class="page-link" 
                                                                          asp-controller="Home" 
                                                                          asp-action="Trainers" 
                                                                          asp-route-page="@i"
                                                                          asp-route-search="@search"
                                                                          asp-route-sort="@sort">@i</a></li>
                                            }


                                        }
                                    }
                                    <li class="page-item"><a class="page-link" href="#"><span class="ti-angle-left"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Page Navigation end-->
                </div>
            </div>
        </div>


    </div>

    <footer class="footer-1 ptb-60 gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-4 mb-md-4 mb-sm-4 mb-lg-0">
                    <a href="#" class="navbar-brand mb-2">
                        <img src="~/img/mogym-logo.png" class="img-fluid mb-3" alt="mogym">
                    </a>
                    <br>
                    <p>موجیم پلتفرم تخصصی تناسب اندام آنلاین می باشد. ما در این پلتفرم سعی کرده ایم امکاناتی را برای راحتی ارتباط مربیان با ورزشکاران عزیز فراهم کنیم تا به صورت آنلاین بتوانند به هدف خود برسند.به خود افتخار می کنیم که بهترین ها مارا انتخاب می کنند.</p>
                    <div class="list-inline social-list-default background-color social-hover-2 mt-2">
                        <li class="list-inline-item"><a class="instagram" href="https://instagram.com/mogym.ir"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="https://t.me/mogym"><i class="fab fa-telegram"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/company/mogym-ir"><i class="fab fa-linkedin"></i></a></li>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="row mt-0">
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                            <h6 class="text-uppercase">صفحات</h6>
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Login">ورود</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="TrainerPanel">عضویت مربیان</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Trainers">مربیان</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                            <h6 class="text-uppercase">عمومی</h6>
                            <ul>
                                <li>
                                    <a asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a>
                                </li>

                                <li>
                                    <a asp-controller="Home" asp-action="Terms">قوانین و مقررات</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </footer>


    <!--scroll bottom to top button start-->
    <div class="scroll-top scroll-to-target primary-bg text-white" data-target="html">
        <span class="fas fa-hand-point-up"></span>
    </div>
    <!--scroll bottom to top button end-->
    <!--build:js-->
    <script src="~/mainassets/js/vendors/jquery-3.5.1.min.js"></script>
    <script src="~/mainassets/js/vendors/popper.min.js"></script>
    <script src="~/mainassets/js/vendors/bootstrap.min.js"></script>
    <script src="~/mainassets/js/vendors/jquery.easing.min.js"></script>
    <script src="~/mainassets/js/vendors/owl.carousel.min.js"></script>
    <script src="~/mainassets/js/vendors/countdown.min.js"></script>
    <script src="~/mainassets/js/vendors/jquery.waypoints.min.js"></script>
    <script src="~/mainassets/js/vendors/jquery.rcounterup.js"></script>
    <script src="~/mainassets/js/vendors/magnific-popup.min.js"></script>
    <script src="~/mainassets/js/vendors/validator.min.js"></script>
    <script src="~/mainassets/js/app.js"></script>
    <!--endbuild-->

</body>
</html>