@model List<Mogym.Application.Records.Workout.SentWorkoutRecord>

@{
    Layout = "_Layout";
}


<section class="content card-custome">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-success-card">
                    <h3 class="card-title">حرکات تمرینی</h3>
                </div>
                <div class="card-body py-5">
                    <div class="mb-1">
                        <div id="attributes-recruit-training" class="add-row-table pt-3">
                            <table class="table attr-training-request col-12  trainingCourse_employment  p-0">
                                @{
                                    foreach (var workout in Model)
                                    {
                                            <thead>
                                                <tr style="background-color: aliceblue;text-align: center" >
                                                    <th>@workout.Title</th>
                                                </tr>
                                            </thead>
                                        var superSetIds = workout.SentExerciseRecords
                                        .Where(x => x.SuperSetId is not null)
                                        .Select(x => x.SuperSetId).ToList();

                                            @foreach (var exercise in workout.SentExerciseRecords)
                                        {
                                            if (exercise.SuperSetId is null & !superSetIds.Contains(exercise.Id))
                                            {
                                                    <table class="table attr-training-request col-12  trainingCourse_employment  p-0">
                                                        <thead>
                                                            <tr>
                                                                <th>@exercise.ExerciseTitle</th>
                                                                <th>ویدئو:<a>@exercise.ExerciseFileName</a></th>
                                                                <th></th>
                                                            </tr>
                                                            <tr>
                                                                <th>وزن</th>
                                                                <th>تعداد</th>
                                                                <th>زمان</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="approverRowsContainer" id="exerciseBody">
                                                            @foreach (var set in exercise.SentExerciseSetRecords)
                                                        {
                                                                <tr class="attr form-group">
                                                                    <td width="20%">
                                                                        @set.Weight
                                                                    </td>
                                                                    <td width="20%">
                                                                        @set.Count
                                                                    </td>
                                                                    <td width="20%">
                                                                        @set.Minute : @set.Second
                                                                    </td>
                                                                </tr>
                                                        }

                                                        </tbody>
                                                    </table>
                                            }
                                            else if (exercise.SuperSetId is not null)
                                            {
                                                var superSet = workout.SentExerciseRecords.Where(x => x.Id == exercise.SuperSetId).First();
                                                    <table class="table attr-training-request col-12  trainingCourse_employment  p-0">
                                                        <thead>
                                                        <tr style="background-color:ivory;text-align: center">
                                                            سوپر ست
                                                            </tr>
                                                            <tr style="text-align: center;background-color: white">
                                                                <th>@exercise.ExerciseTitle</th>
                                                                <th>ویدئو:<a>@exercise.ExerciseFileName</a></th>
                                                                <th></th>
                                                            </tr>
                                                        <tr style="text-align: center;background-color: bisque">
                                                                <th>@superSet.ExerciseTitle</th>
                                                                <th>ویدئو:<a>@superSet.ExerciseFileName</a></th>
                                                                <th></th>
                                                            </tr>
                                                        <tr style="text-align: center">
                                                                <th>وزن</th>
                                                                <th>تعداد</th>
                                                                <th>زمان</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="approverRowsContainer" id="exerciseBody">
                                                            @{
                                                            var maxCount = Math.Max(exercise.SentExerciseSetRecords.Count, superSet.SentExerciseSetRecords.Count);

                                                            for (int i = 0; i < maxCount; i++)
                                                            {
                                                                <tr class="attr form-group" style="text-align: center">
                                                                            <td width="20%">
                                                                                @(exercise.SentExerciseSetRecords.Count>i ?
                                                                            exercise.SentExerciseSetRecords[i].Weight:0)
                                                                            </td>
                                                                    <td width="20%" style="text-align: center">
                                                                                @(exercise.SentExerciseSetRecords.Count > i ?
                                                                            exercise.SentExerciseSetRecords[i].Count : 0)
                                                                            </td>
                                                                    <td width="20%" style="text-align: center">
                                                                                @(exercise.SentExerciseSetRecords.Count > i ?
                                                                            exercise.SentExerciseSetRecords[i].Minute + ":" + exercise.SentExerciseSetRecords[i].Second : 0)
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="attr form-group" style="background-color: bisque">
                                                                    <td width="20%" style="text-align: center">
                                                                                @(superSet.SentExerciseSetRecords.Count > i ?
                                                                            superSet.SentExerciseSetRecords[i].Weight:0)
                                                                            </td>
                                                                            <td width="20%" style="text-align: center">
                                                                                @(superSet.SentExerciseSetRecords.Count > i ?
                                                                            superSet.SentExerciseSetRecords[i].Count : 0)
                                                                            </td>
                                                                    <td width="20%" style="text-align: center">
                                                                                @(superSet.SentExerciseSetRecords.Count > i ?
                                                                    superSet.SentExerciseSetRecords[i].Minute + ":" + superSet.SentExerciseSetRecords[i].Second : 0)
                                                                            </td>
                                                                        </tr>
                                                            }
                                                            }


                                                        </tbody>
                                                    </table>
                                            }
                                        }
                                    }
                                }

                            </table>
                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-group row">
                        <div class="col-md-9">
                        </div>
                        <div class="form-actions-buttons col-md-3">
                            <a asp-action="Index" class="btn btn-secondary py-2">بازگشت </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
